.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  background-color: #f8f9fa;
  padding-bottom: 80px;
}

.header {
  background-color: #2563eb;
  color: white;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.brand {
  display: flex;
  align-items: center;
  gap: 8px;
}
.logoutBtn {
  font-weight: 600;
  background: transparent;
  border: none;
  color: inherit;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.2s ease;
}
.main {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}

.navLink {
  text-decoration: none;
  color: #666;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.activeLink {
  color: #2563eb;
  font-weight: bold;
}
